<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyze a trip in relation to a route</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='time-plan.css') }}">
</head>
<body>
<div class="container">
<div class="main-content">
<h1>Times of Passage</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="post" action="form_analyze_trip_respond">

    <p>Landmarks (cues, waypoints, etc) come from a RWGPS <em>route</em>.
        You can enter a full URL or just the identifying number.  You can
        search (🔍) for <em>your own</em> routes or your pinned routes.
    </p>
    <label_for route_url>
        <a href="{{ url_for('form_search_routes_get') }}" class="button">🔍</a>
        Route URL:</label_for>
    <input type="text" name="route_url"
        pattern="(https://ridewithgps.com/routes/)?[0-9]+((\?.*)?)"
        title="Valid URLs look like https://ridewithgps.com/routes/123456789"
           size="45"
           value="{{session.get('route_url', '')}}"
        required>
    </input>
    <p>A route URL will look like https://ridewithgps.com/<strong>routes</strong>/123456789</p>

    <p>A <em>trip</em> is the record of your ride.  That is where we'll
    find the time you passed each landmark in the <em>route</em>.  You can
    pick a recent ride using the search function (🔍). </p>
    <label_for trip_url>
        <a href="{{ url_for('form_search_trips_get') }}" class="button">🔍</a>
        Trip URL:     </label_for>
        <input type="text" name="trip_url"
            pattern="(https://ridewithgps.com/trips/)?[0-9]+((\?.*)?)"
               title="Valid URLs look like https://ridewithgps.com/trips/123456789"
               value="{{session.get('trip_url', '')}}"
               size="45"
               required>
    </input>
    <p>A trip URL will look like https://ridewithgps.com/<strong>trips</strong>/123456789</p>



    <p>Waypoints and special cues on the route are always included.
        <br />What else should we include?</p>

    <div>
        <input type="checkbox" name="cues"/>
        <label for="cues">Include turn cues?</label><br />
        <input type="checkbox" name="miles_5" />
        <label for="miles_5">5 mile interval markers?</label><br />
        <input type="checkbox" name="miles_10" checked />
        <label for="miles_10">10 mile interval markers?</label><br />
        <input type="checkbox" name="km_10"/>
        <label for="km_10">10 km interval markers?</label><br />
    </div>

    <br />

    <input type="submit" value="Submit">
</form>
</div></div>
</body>
</html>