<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select trip for analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='time-plan.css') }}">
</head>
<body>
<div class="container">
<div class="main-content">
<h1>Select trip for analysis</h1>
<form action="{{ url_for('form_select_trip_respond') }}" method="post">
    <fieldset>
        <legend>Select trip to analyze</legend>
        <div>
            {% for trip in trips %}
                <input type="radio" id="{{trip['id']}}" name="trip_id" value="{{trip['id']}}">
                <label for="{{trip['id']}}">
                    {{trip['departed_at'] | iso_to_date }}
                    {{trip['name']}}
                    {{trip['distance'] // 1000}} km
                    (<a href="https://ridewithgps.com/trips/{{trip['id']}}"
                        target="rwgps-inspect">?</a>)
                </label><br>
            {% endfor %}
        </div>
    </fieldset>
    <button type="submit">Submit</button>
</form>

</div></div>
</body>
</html>