<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>RWGPS OAuth Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='time-plan.css') }}">

</head>
<body>
<div class="container">
<div class="main-content">
  <h1>Times of Passage</h1>

  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <p>Analyze a <em>trip</em> with respect to a <em>route</em> from Ride With GPS.</p>
  <p>Combines cues from the route with times from the trip to indicate
  when the rider passed each cue.  Both the route and the trip must
  be in Ride with GPS (not Strava, Garmin, etc.)</p>

  {% if has_token %}
    <p>You're connected to Ride With GPS.</p>
    <p>
      <a class="button" href="{{ url_for('form_analyze_trip_get') }}">View my rides</a>
      &nbsp;
      <a href="{{ url_for('logout') }}">Log out</a>
    </p>
  {% else %}
    <p>Click below to authorize this app to read your ride data from Ride With GPS.</p>
    <p><a class="button" href="{{ url_for('login') }}">Connect to Ride With GPS</a></p>
  {% endif %}
</div></div>
</body>
</html>